html{
    background : linear-gradient(to right, black, white);
}
*{
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
}
#red {
    color : red
}
#blue {
    color : blue
}
#orange {
    color : orange
}
#green {
    color : green
}
#yellow {
    color : yellow
}